{
    "version": "version of the cyber data schema",
    "release_date": "date of the release",
    "commentary": "commentary about the specific release",
    "tables": [
        {
            "uuid": "uuid of the table",
            "name": "name of the table",
            "description": "description of the table",
            "type": "type of the table (found in table_types)",
            "pos_x": "x-coordinate position of the table",
            "pos_y": "y-coordinate position of the table",
            "columns": [
                {
                    "uuid": "uuid of the column",
                    "name": "name of the column",
                    "description": "description of the column",
                    "type": "type of the column (found in column_types)",
                    "relationship": [
                        {
                            "uuid": "uuid of the relationship",
                            "type": "type of the relationship (found in relationship_types)",
                            "table_uuid": "uuid of the related table (if any)",
                            "column_uuid": "uuid of the related column (if any)",
                            "description": "description of the relationship",
                            "name": "name of the relationship to recreate joining tables"
                        },
                    ]
                    "properties": [
                        {
                            "uuid": "uuid of the property",
                            "type": "type of the property",
                            "value": "value of the property"
                        }
                    ]
                }
            ]
        }
    ],
    "table_types": [
        {
            "uuid": "uuid of the table type",
            "name": "name of the table type",
            "description": "description of the table type",
            "color": "hexadecimal color of the table type"
        }
    ],
    "column_types": [
        {
            "uuid": "uuid of the column type",
            "name": "name of the column type",
            "description": "description of the column type"
        }
    ],
    "relationship_types": [
        {
            "uuid": "uuid of the relationship type",
            "name": "name of the relationship type",
            "description": "description of the relationship type"
        }
    ],
    "property_types": [
        {
            "uuid": "uuid of the property type",
            "name": "name of the property type",
            "description": "description of the property type"
        }
    ]
}